<h3> <%= t('projects.contributions.review.national.section_title') %></h3>
<%= form_tag(checkout_pagseguro_path(params[:id])) do %>
  <div class='clearfix'>
    <div class='bootstrap-twitter'>
      <%= label_tag :cpf, t('projects.contributions.review.international.user_document_label') %>
      <%= text_field_tag :cpf, nil, { autocomplete: 'off' } %>
      <%= submit_tag t('projects.contributions.review.national.button'), :class => 'btn btn-primary btn-large' %>
    </div>
  </div>
<% end %>
